{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load widget_tweaks %}

{% block main_content %}
    <div class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6 col-xl-4 align-self-center">
                <div class="card">
                    <div class="card-header text-bg-primary">
                        {% translate 'courseDB' %}
                    </div>
                    <div class="card-body">
                    <form method="POST" name="user" action="{% url 'login' %}" id="user">
                        {% csrf_token %}
                        <input type="hidden" name="next" value="{{ next }}" />
                        {% if form.errors %}
                        <div class="alert error alert-danger" role="alert">
                            {% translate "Username/Password wrong" %}</div>
                        {% endif %}
                        <div class="{% if form.errors %} has-validation{% endif %}">
                            {{ form.username.label_tag }}
                            {{ form.username|add_class:"form-control" }}
                            {% if form.username.errors %}
                                <div class="invalid-feedback">
                                    {{ form.username.errors }}
                                </div>
                            {% endif %}
                        </div>
                        <div class="{% if form.errors %} has-validation{% endif %}">
                            {{ form.password.label_tag }}
                            {{ form.password|add_class:"form-control" }}
                            {% if form.password.errors %}
                                <div class="invalid-feedback">
                                    {{ form.password.errors }}
                                </div>
                            {% endif %}
                        </div>
                        <div class="d-grid">
                            <input type="submit" name="submit" id="submitbutton"
                                   class="btn btn-primary mt-4" value="{% translate 'Login' %}">
                        </div>
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}