{% extends 'core/base.html' %}
{% load i18n %}

{% block title %}
    {% translate 'Edit' %} ::
    {{ course }} :: {% translate 'Course' %}
{% endblock %}

{% block breadcrumb %}
    {{ block.super }}
    <li class="breadcrumb-item"><a href="{% url 'core.course.list' %}">
        {% translate 'Course' %}
    </a></li>
    <li class="breadcrumb-item"><a href="{% url 'core.course.details' course_id=course.id %}">
        {{ course }}
    </a></li>
    <li class="breadcrumb-item active" aria-current="page">
        {% translate 'Edit' %}
    </li>
{% endblock %}

{% block content %}
    <h1>{% translate 'Edit course' %}: {{ course }}</h1>
    {% url 'core.course.edit' course_id=course.id as action %}
    {% url 'core.course.details' course_id=course.id as cancel %}

    {% include 'core/includes/form.html' with form=form action=action cancel=cancel %}

{% endblock %}